/* background-color: #ffa1a1; */

:root {
  --description-color: #4d4d4d;
  --accent-color: #872255;
  --border-radius: 4px;
  --background-color: #f9f1f1;
  --body-color: #f8f9fa;
}
body {
  font-family: "Rubik", sans-serif;
  color: #13212a;
  background-color: var(--body-color);
}
h1 {
  font-size: 110px;
  text-align: center;
  margin: 0;
  line-height: 1;
  font-family: "Calistoga", cursive;
  font-weight: bold;
}
h2 {
  font-size: 48px;
  text-align: center;
  margin: 0;
  font-family: "Calistoga", cursive;
  padding-top: 80px;
}
h3 {
  font-size: 24px;
  text-align: center;
  color: var(--description-color);
  margin: 0;
  padding: 20px;
}
h4 {
  font-size: 48px;
  padding: 20px;
  margin: 10px;
  font-family: "Calistoga", cursive;
}

.hero {
  padding-top: 160px;
  padding-bottom: 190px;
  background-color: var(--background-color);
}
.alien {
  width: 180px;
  animation: jumping 5s linear infinite;
  opacity: 0.98;
}
@keyframes jumping {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
.bottomLinks {
  background-color: var(--background-color);
}
.contact-list-widescreen {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px 190px;
}
.contact-list-mobilescreen {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px 20px;
}
.socials {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
  transition: 100ms ease-in-out;
}
.socials:hover {
  font-size: 20px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* #about {
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
  padding: 20px 15px;
  margin: 20px;
  text-decoration: none;
  color: var(--accent-color);
}
#about:hover {
  background-color: var(--accent-color);
  color: white;
} */
#contact,
#about {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  padding: 20px 15px;
  margin: 20px;
  box-shadow: rgba(37, 39, 89, 0.2) 0px 8px 8px 0;
}
#contact:hover,
#about:hover {
  color: white;
  background-color: #947481;
}
#back-home {
  text-align: center;
  display: block;
  color: var(--accent-color);
  padding: 20px;
}
.backUp {
  text-align: center;
  font-size: 25px;
  padding-bottom: 80px;
}
.topUp {
  text-decoration: none;
  color: #13212a;
}
p {
  opacity: 0.8;
  font-size: 18px;
  padding: 20px;
  margin: 10px;
  line-height: 1.5;
  border-radius: var(--border-radius);
}
#email {
  text-align: center;
  display: block;
  font-size: 28px;
  text-decoration: none;
  color: var(--accent-color);
  padding: 5px;
}
#email:hover {
  text-decoration: underline;
}
.app-button {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(37, 39, 89, 0.2) 0px 8px 8px 0;
}
.app-button:hover {
  color: white;
  background-color: #947481;
}

.gallery {
  max-width: 600px;
  padding: 30px;
  display: block;
  margin: 0 auto;
}
.gallerywide {
  max-width: 1200px;
  padding-top: 30px;
  display: block;
  margin: 0 auto;
}
.prospect {
  text-align: center;
  padding-top: 40px;
}
.landingphoto {
  max-width: 1200px;
  padding-top: 30px;
  display: block;
  margin: 0 auto;
  transition: 100ms ease-in-out;
}
.landingphoto:hover {
  opacity: 0.6;
}
.backbutton {
  text-align: center;
  text-decoration: none;
  transition: 100ms ease-in-out;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(37, 39, 89, 0.2) 0px 8px 8px 0;
}
.backbutton:hover {
  font-size: 20px;
  color: white;
  background-color: #ffa1a1;
}
.linkedin {
  color: var(--accent-color);
  text-decoration: none;
}
.aboutmesection {
  margin: 0 auto;
  max-width: 75%;
  text-align: center;
}
.aboutmeimages {
  width: 900px;
  display: block;
  margin: 0 auto;
}
#more {
  display: none;
}
#myBtn {
  display: block;
  margin: 0 auto;
  font-weight: bold;
  border: 2px solid var(--accent-color);
  border-radius: var(--border-radius);
  padding: 20px 15px;
  text-decoration: none;
  color: var(--accent-color);
}
.galleryContainer {
  padding-top: 40px;
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#gallerylink {
  font-size: 50px;
  color: white;
}
.tidbit {
  font-family: "Calistoga", cursive;
  font-size: 50px;
}
.myfavorites {
  font-family: "Calistoga", cursive;
  font-size: 30px;
  opacity: 1;
  color: #13212a;
}
.myfavoritesBig {
  font-family: "Calistoga", cursive;
  font-size: 50px;
  opacity: 1;
  color: #13212a;
}

.description {
  padding-left: 40px;
  padding-right: 40px;
}
.description2 {
  padding-left: 30px;
}
.resume {
  display: flex;
  justify-content: center;
}
.certificates {
  display: flex;
  justify-content: center;
}
.certificates img {
  max-width: 970px;
  padding-top: 40px;
  transition: ease-in-out 100ms;
}
.certificates img:hover {
  opacity: 0.8;
}
.school {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 40px;
}
h5 {
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 24px;
  text-align: center;
  color: var(--description-color);
  font-family: "Rubik", sans-serif;
}
.resume a {
  color: var(--accent-color);
  text-decoration: none;
  transition: ease-in-out 100ms;
}
.resume a:hover {
  font-weight: bold;
}
.workEx {
  text-align: center;
  padding: 0;
  margin: 0;
}
.linkedInclick {
  text-align: center;
}
#resumetop {
  text-align: center;
}
#resume {
  text-decoration: none;
  color: #13212a;
}
#resume:hover {
  color: var(--accent-color);
  opacity: 0.8;
}

.btn-main {
  font-family: monospace;
  overflow: visible;
  border: 0;
  background: transparent;
  line-height: normal;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 36px 22px;
  background-color: #fff;
  color: #666;
  border: 2px solid #666;
  border-radius: 6px;
  margin-bottom: 16px;
  transition: all 0.5s ease;
  overflow: hidden;
  position: relative;
}
.btn-main:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(
    45deg,
    #666,
    #666 1px,
    transparent 2px,
    transparent 5px
  );
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid #666;
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}
.btn-main:hover,
.btn-main:focus {
  background-color: #9f4c6f;
  color: #fff;
  border-color: #000;
}
.btn-main:hover:after {
  background-image: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 1px,
    transparent 2px,
    transparent 5px
  );
  border-top: 1px solid #000;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
  animation: stripe-slide 12s infinite linear forwards;
}
@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
/* .site-title {
  margin: 20px auto 10px;
  font-family: "Bungee Shade", cursive;
  font-size: 122px;
  line-height: 1.3;
}
.site-title {
  display: block;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: normal;
  width: 100%;
  text-align: center;
  background: linear-gradient(
    -45deg,
    #872255 25%,
    #9f4c6f 25%,
    #9f4c6f 50%,
    #872255 50%,
    #872255 75%,
    #9f4c6f 75%,
    #9f4c6f
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 20px 20px;
  background-position: 0 0;
  -webkit-animation: stripes 1s linear infinite;
  animation: stripes 1s linear infinite;
}
@-webkit-keyframes stripes {
  100% {
    background-position: 20px 0, 20px 0, 20px 0;
  }
}
@keyframes stripes {
  100% {
    background-position: 20px 0, 20px 0, 20px 0;
  }
} */
.moreprojects {
  text-align: center;
}
.tarotapp,
.datenight {
  max-width: 320px;
  max-height: 570px;
}
.datenightmobile {
  display: block;
  margin: 0 auto;
}
.pythonlist {
  text-decoration: none;
  font-size: 18px;
  color: #601e39;
  line-height: 1.7;
}
.pythonlist:hover {
  color: #9f4c6f;
  font-weight: bold;
  background-color: #f9f1f1;
  padding: 10px;
  border-radius: 5px;
}
